* {
	font-family: "JetBrains Mono";
	font-size: 1.1em;
}

body {
	margin: 0;
	padding: 0;
}

.form-group {
	height: 50vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}
.form-group form {
	border: 1px solid #ccc;
	border-left: 5px solid #e73e01;
	border-radius: 5px;
	background-color: #ccc;
	padding: 6px;
	width: 750px;
}
.form-group input {
	border: none;
	background: none;
	width: 700px;
}
.form-group input:focus {
	outline: none;
}

.results {
	height: 40vh;

	display: flex;
	justify-content: center;
	align-items: start;
}

.footer {
	height: 4vh;
	padding-right: 10px;
	display: flex;
	justify-content: end;
	align-items: end;

	text-decoration: none;
}